@font-face {
  font-family: "Montserrat";
  src: url("src/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("src/assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: Bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("src/assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: Light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("src/assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: Medium;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  padding-bottom: 10vh;
  position: relative;
  height: auto;
}

h1,
h2,
p,
a,
button {
  font-family: "Montserrat", sans-serif;
}

.btntotop {
  display: flex;
  cursor: pointer;
  background: none;
  border: none;
  position: fixed;
  bottom: 2.5rem;
  right: 5%;
  z-index: 2;
  transform: translateY(200%);
  animation: position 1s forwards;

  img {
    height: 3vh;
  }
}
.btntotop.hide {
  animation: hidePosition 1s forwards;
}

@keyframes position {
  from {
    transform: translateY(400%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes hidePosition {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(400%);
  }
}
